---
layout:           default
---
<div id="head">
    <div class='logo'>
        <a href="{{ site.production_url }}" title="{{ site.title }}"><img src="{{ site.author.avatar }}" alt="{{ site.title }}" /></a>
        {% if site.resume %}<a href="{{ site.production_url }}/resume/yanguanglan-resume.pdf" target="_blank">求职_Hire me</a>{% endif %}
    </div>
</div>

<div id="content">
    {{ content }}
</div>

<div id="about">
    <div class="about-content">
        <div class="clearfix">
            <div class="about-left">
                <h2>Contact</h2>
                <div class="weibo-con">
                    <iframe width="100%" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=75&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1944078965&verifier=9f204b90&colors=d6f3f7,1a1a1a,666666,0082cb,ecfbfd&dpc=1"></iframe>
                </div>
                <p>
                Keep in touch <a href="mailto:{{ site.author.email }}" class="external">{{ site.author.email }}</a>
                </p>
            </div>
            <div class="about-left about-more">
                <h2>About</h2>
                    Code<a href="{{ site.author.github }}" class="external" target="_blank">@GitHub</a><br/>
                    Photo<a href="{{ site.author.500px }}" class="external" target="_blank">@500px</a><br/>
            </div>
        </div>

        <div class="copyright right">
            <p><a href="{{ site.production_url }}" title="{{ site.title }}">&copy; 2013 {{ site.author.name }}</a></p>
        </div>
    </div>
</div>
